# Global tool versions managed by asdf
# https://asdf-vm.com/
# Updated: January 2025

# renovate: datasource=github-tags depName=nodejs/node
nodejs 22.11.0          # LTS version (Active LTS until October 2025)
python miniconda3-latest # Pre-compiled Python via Miniconda
# renovate: datasource=github-tags depName=golang/go
golang 1.25.1           # Latest stable
# renovate: datasource=github-releases depName=oven-sh/bun
bun 1.2.1               # Latest stable

# To install these versions:
# asdf plugin add nodejs
# asdf plugin add python
# asdf plugin add golang
# asdf plugin add bun https://github.com/canhta/asdf-bun.git
# asdf install